* {
  margin: 0;
}

body {
  background-color: #e9e9e9;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}
@media (max-width: 480px){
  .app__header > h1{
    font-size: 20px
  }
}

.app__left {
  flex: 0.9;
}

.app__dropdown {
  background-color: white;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px){
  .app{
    flex-direction: column;
  }
  .app__right {
    margin-top: 0.5rem;
  }
}

.app__worldwide {
  margin-top: 3rem;
  margin-bottom: 1rem;
}