.table {
  display: block;
  height: 400px;
  margin-top: 20px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: #fff;
  overflow-x: hidden;
}
.table tbody{
  width: 100%;
  display: table;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}